<div id="<%= dom_id comida %>">
  <p>
    <strong>Nome:</strong>
    <%= comida.nome %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= comida.desc %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= comida.price %>
  </p>

  <p>
    <strong>Quantidade:</strong>
    <%= comida.quantidade %>
  </p>

  <p>
    <strong>Estragado:</strong>
    <%= comida.estragado %>
  </p>

  <p>
    <strong>Compra:</strong>
    <%= comida.compra %>
  </p>

  <p>
    <strong>Vencimento:</strong>
    <%= comida.vencimento %>
  </p>

</div>
